.test-class1{
    color:rgb(124, 107, 98);
    font-size: 30px;
    text-align:center;
    word-spacing:10px;
    font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow:3px 3px 2px rgba(172, 95, 33, 0.5);
} 